/* breakpoints */
/*core fix*/
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Open Sans";
}

h1 {
  color: #00627c;
}

h2 {
  color: darkblue;
}

h3 {
  color: yellow;
}

.header {
  margin-top: 5px;
  border-top: 0.5px solid #969696;
}
.header ul {
  text-decoration: none;
  list-style-type: none;
  padding-inline-start: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  border-collapse: collapse;
  display: flex;
}
@media screen and (max-width: 576px) {
  .header ul {
    width: 100%;
    justify-content: space-evenly;
  }
}
.nav-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
@media screen and (max-width: 576px) {
  .nav-container {
    justify-content: center;
  }
}
.nav-container a {
  text-decoration: none;
  color: #000000;
  display: block;
}

.section-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 20px 10px 20px;
}

/* https://cssgradient.io/ */
.hero-section {
  background: rgb(238, 172, 0);
  background: linear-gradient(315deg, rgba(238, 172, 0, 0.2) 30%, rgba(0, 98, 124, 0.2) 70%);
}

.button {
  display: inline-block;
  background-color: #ffffff;
  padding: 10px 30px;
  border-radius: 15px;
  color: #000000;
  text-decoration: none;
}

.Navbar {
  text-transform: uppercase;
}
@media screen and (max-width: 576px) {
  .Navbar {
    width: 100%;
  }
}
.Navbar ul:last-child {
  border-right: 2px solid #eeac00;
}
.Navbar__Listitem {
  border-left: 2px solid #eeac00;
}
.Navbar__Listitem--active {
  border-bottom: 5px solid #eeac00;
}
@media screen and (max-width: 576px) {
  .Navbar__Listitem {
    text-align: center;
    font-size: 0.8em;
    width: 100%;
  }
}
.Navbar a {
  padding: 15px 15px 10px 15px;
}
@media screen and (max-width: 576px) {
  .Navbar a {
    padding: 10px 13px 5px;
  }
}

.Subnav {
  display: flex;
  align-items: center;
}
.Subnav :last-child {
  margin-right: 0px;
}
.Subnav__Listitem {
  height: 30px;
  width: 30px;
  border: 1px solid black;
  text-align: center;
  align-items: center;
  margin: 5px;
}
@media screen and (max-width: 576px) {
  .Subnav {
    display: none;
  }
}

.Hero {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 576px) {
  .Hero {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.Hero__Container {
  width: 50%;
}
@media screen and (max-width: 768px) {
  .Hero__Container {
    width: auto;
  }
}
.Hero__Container--right {
  text-align: right;
}
@media screen and (max-width: 576px) {
  .Hero__Container--right {
    display: none;
  }
}
.Hero__Logo {
  height: 100px;
}
@media screen and (max-width: 576px) {
  .Hero__Logo {
    height: 85px;
  }
}
.Hero__Headline {
  margin-top: 70px;
  font-size: 2.5em;
}
@media screen and (max-width: 576px) {
  .Hero__Headline {
    margin-top: 20px;
  }
}
.Hero__Subheadline {
  color: #000000;
  font-weight: light;
  font-size: 1.2em;
}
.Hero__Image {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .Hero__Image {
    display: none;
  }
}
.Hero__Divider {
  height: 15px;
  width: 100%;
  background-color: #eeac00;
  display: flex;
  justify-content: center;
}
.Hero__Divider--circle {
  background-color: #eeac00;
  width: 50px;
  height: 40px;
  border-radius: 0 0 30px 30px;
  text-align: center;
}
